<h1>New to do</h1>

<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.select :priority, ["Low","Medium","High"] %><br>
  </div>

  <div>
    <%= form.radio_button :done, "true" %>
    <%= form.label :done, "Completed" %>
    <%= form.radio_button :done, "false" %>
    <%= form.label :done, "Not started" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
