<h1><%= @todo.name %></h1>

<p><%= @todo.priority %></p>
<p><%= @todo.done %></p>
<p><%= @todo.description %></p>
<%= link_to 'Edit', edit_list_to_do_list_path(@todo)%>
<%= link_to 'Back', list_to_do_list_index_path%>