<!DOCTYPE html>
<html>
  <head>
    <title>MyToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#48483430;">
    <%= render "to_do_list/navbar" %>
    <div class="container">
      <%= render "to_do_list/flash"%>
    <%= yield %>
    </div>
  </body>
</html>
